<div *ngIf="isLoading" class="loader-container">
  <div class="spinner-border text-primary" style="width: 2rem; height: 2rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <span class="loader-text">Loading...</span>
</div>

<div class="container" *ngIf="!isLoading">

  <!-- Project Name Row -->
  <div class="row">
    <div class="col-12">
      <h2 class="page-title">{{ projectDetails?.projectName }}</h2>
      <hr>
    </div>
  </div>

  <!-- Quality Gate Status Row -->
  <div class="row">
    <div class="col-md-6">
      <h5 class="section-title">
        QUALITY GATE STATUS
        <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top"
          title="A Quality Gate is a set of measure-based Boolean conditions. It helps you know immediately whether your project is production-ready. If your current status is not Passed, you'll see which measures caused the problem and the values required to pass.">
          <i class="bi bi-info-circle"></i>
        </span>
      </h5>
      <div class="card metric-card">
        <div class="card-header text-white d-flex flex-column align-items-start"
          [ngClass]="projectDetails?.qualityGate?.qualityGateStatus === 'failed' ? 'bg-danger' : 'bg-success'">
          <h4 class="card-text">{{ projectDetails?.qualityGate?.qualityGateStatus | uppercase }}</h4>
          <p class="card-text" *ngIf="projectDetails?.qualityGate?.qualityGateStatus === 'failed'">
            {{ projectDetails?.qualityGate?.qualityGateConditions?.length }} conditions failed
          </p>
        </div>
        <ul class="list-group list-group-flush" *ngIf="projectDetails?.qualityGate?.qualityGateStatus === 'failed'">
          <li class="list-group-item d-flex align-items-start"
            *ngFor="let condition of projectDetails?.qualityGate?.qualityGateConditions">
            <div class="d-flex flex-column text-center">
              <strong class="mb-1 fs-6">{{ condition.actualValue }}</strong>
            </div>
            <div class="ms-1">
              <span>{{ condition.message }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-4"> <!-- Nav Tabs -->
    <ul class="nav nav-tabs" id="metricsTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="new-code-tab" data-bs-toggle="tab" data-bs-target="#newCode" type="button"
          role="tab" aria-controls="newCode" aria-selected="true">
          New Code
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="overall-code-tab" data-bs-toggle="tab" data-bs-target="#overallCode" type="button"
          role="tab" aria-controls="overallCode" aria-selected="false">
          Overall Code
        </button>
      </li>
    </ul>

    <div class="tab-content" id="metricsTabContent">
      <div class="tab-pane fade show active" id="newCode" role="tabpanel" aria-labelledby="new-code-tab">
        <div class="row mt-4">
          <div class="col-md-3">
            <div class="card metric-card shadow-sm rounded fixed-card-height">
              <div class="card-body text-center">
                <i class="bi bi-bug metric-icon text-success mb-2"></i>
                <h5 class="card-title fw-bold">Bugs</h5>
                <hr>
                <div class="mb-3">
                  <span class="badge metric-rating" [ngClass]="projectDetails?.bugs?.rating?.ratingValue">
                    {{ projectDetails?.bugs?.rating?.ratingValue }}
                  </span>
                  <p class="card-text mt-2">
                    {{ projectDetails?.bugs?.rating?.ratingDescription }}
                  </p>
                </div>
                <div>
                  <h4 class="fw-bold">{{ projectDetails?.bugs?.count }}</h4>
                  <p class="text-muted">Open Issues</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card metric-card shadow-sm rounded fixed-card-height">
              <div class="card-body text-center">
                <i class="bi bi-bug metric-icon text-success mb-2"></i>
                <h5 class="card-title fw-bolder">Vulnerabilities</h5>
                <hr>
                <div class="mb-3">
                  <span class="badge metric-rating" [ngClass]="projectDetails?.vulnerabilities?.rating?.ratingValue">
                    {{ projectDetails?.vulnerabilities?.rating?.ratingValue }}
                  </span>
                  <p class="card-text mt-2">
                    {{ projectDetails?.vulnerabilities?.rating?.ratingDescription }}
                  </p>
                </div>
                <div>
                  <h3 class="fw-bold">{{ projectDetails?.vulnerabilities?.count }}</h3>
                  <p class="text-muted">Open Issues</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card metric-card shadow-sm rounded fixed-card-height">
              <div class="card-body text-center">
                <i class="bi bi-shield-shaded metric-icon text-success mb-2"></i>
                <h5 class="card-title fw-bolder">Hotspots Reviewed</h5>
                <hr>
                <div class="mb-3">
                  <span class="badge metric-rating" [ngClass]="projectDetails?.securityHotspots?.rating?.ratingValue">
                    {{ projectDetails?.securityHotspots?.rating?.ratingValue }}
                  </span>
                  <p class="card-text mt-2">
                    {{ projectDetails?.securityHotspots?.rating?.ratingDescription }}
                  </p>
                </div>
                <div>
                  <h3 class="fw-bold">{{ projectDetails?.securityHotspots?.count }}</h3>
                  <p class="text-muted">Open Issues</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card metric-card shadow-sm rounded fixed-card-height">
              <div class="card-body text-center">
                <i class="bi bi-radioactive metric-icon text-success mb-2"></i>
                <h5 class="card-title fw-bolder">Code Smells</h5>
                <hr>
                <div class="mb-3">
                  <span class="badge metric-rating" [ngClass]="projectDetails?.codeSmells?.rating?.ratingValue">
                    {{ projectDetails?.codeSmells?.rating?.ratingValue }}
                  </span>
                  <p class="card-text mt-2">
                    {{ projectDetails?.codeSmells?.rating?.ratingDescription }}
                  </p>
                </div>
                <div>
                  <h3 class="fw-bold">{{ projectDetails?.codeSmells?.count }}</h3>
                  <p class="text-muted">Open Issues</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <div class="card metric-card shadow-sm rounded">
              <div class="card-body">
                <h5 class="card-title">Coverage</h5>
                <!-- Coverage Progress Bar -->
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="coverageValue"
                    [attr.aria-valuenow]="coverageValue" aria-valuemin="0" aria-valuemax="100" [ngClass]="{
                  'bg-danger': coverageValue < 30,
                  'bg-warning': coverageValue >= 30 && coverageValue <= 80,
                  'bg-success': coverageValue > 80
                }"></div>
                  <span class="progress-text">{{ projectDetails?.coverage }}</span>
                </div>
                <!-- <p class="card-text">Coverage on {{ projectDetails?.ncloc }} to cover</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card metric-card shadow-sm rounded">
              <div class="card-body">
                <h5 class="card-title">Duplications</h5>
                <!-- Duplications Progress Bar -->
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="duplicatedLinesDensityValue"
                    [attr.aria-valuenow]="duplicatedLinesDensityValue" aria-valuemin="0" aria-valuemax="100" [ngClass]="{
                'bg-danger': duplicatedLinesDensityValue < 30,
                'bg-warning': duplicatedLinesDensityValue >= 30 && duplicatedLinesDensityValue <= 80,
                'bg-success': duplicatedLinesDensityValue > 80
              }"></div>
                  <span class="progress-text">{{ projectDetails?.duplicatedLinesDensity }}</span>
                </div>
                <!-- <p class="card-text">Duplications on {{ projectDetails?.ncloc }}</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Back Button Row -->
  <div class="row mt-3">
    <div class="col-12">
      <div class="p-1">
        <button type="button" class="btn btn-outline-dark btn-back" routerLink="/projects">BACK</button>
      </div>
    </div>
  </div>
</div>
