/* Host component styles */
:host {
  position: relative;
  display: block;
  min-height: 500px;
  /* Adjust as needed */
}

/* Loader Styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* Position over the parent */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  /* Optional overlay */
  z-index: 10;
}

.loader-text {
  margin-left: 1%;
}

.container {
  margin-top: 4%;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.section-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.info-icon {
  margin-left: 8px;
  cursor: pointer;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-icon .bi-info-circle {
  color: #eb8400;
  font-size: 1rem;
}

.card.metric-card {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 0.85rem;
  line-height: 1.2rem;
  font-weight: 400;
}

/* Card Header Styling */
.card .card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn-back {
  --bs-btn-font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
}

.metric-icon {
  font-size: 1.5rem;
}

.badge.metric-rating {
  color: #fff;
  font-size: 0.9rem;
  padding: 0.4em 0.6em;
}

.badge.metric-rating.A {
  background-color: #4caf50;
}

.badge.metric-rating.B {
  background-color: #8bc34a;
}

.badge.metric-rating.C {
  background-color: #ffc107;
}

.badge.metric-rating.D {
  background-color: #ff9800;
}

.badge.metric-rating.E {
  background-color: #f44336;
}

.progress {
  position: relative;
  height: 1.2rem;
  font-size: 0.85rem;
  line-height: 1.2rem;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 0;
  font-weight: bold;
  color: black;
}

.list-group-item {
  padding: 0.5rem 1rem;
}

.list-group-item strong {
  display: inline-block;
  min-width: 55px;
}

.list-group-item span {
  word-break: break-word;
}

.fixed-card-height {
  min-height: 300px; /* Adjust the height based on your design needs */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Custom Tooltip Styles */
.tooltip-inner {
  background-color: #333 !important; /* Dark background */
  color: #fff !important; /* White text */
  font-size: 0.9rem; /* Adjust font size */
  border-radius: 4px; /* Rounded corners */
  padding: 8px 12px; /* Padding */
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #333 !important; /* Arrow color matching the tooltip */
}


