.metric-icon {
  font-size: 1.5rem;
}

.badge.metric-rating {
  color: #fff;
  font-size: 0.9rem;
  padding: 0.4em 0.6em;
}

.badge.metric-rating.A {
  background-color: #4caf50;
}

.badge.metric-rating.B {
  background-color: #8bc34a;
}

.badge.metric-rating.C {
  background-color: #ffc107;
}

.badge.metric-rating.D {
  background-color: #ff9800;
}

.badge.metric-rating.E {
  background-color: #f44336;
}

.fixed-card-height {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
