<app-navbar></app-navbar>
<div class="main-wrapper">
  <project-sidebar-filter (filterChange)="onFilterChange($event)"></project-sidebar-filter>
  <div class="content-container">
    <!-- Header with "Projects" title and "Create Project" button -->
    <div class="d-flex justify-content-between align-items-center header-container">
      <h4>Projects</h4>
      <!-- <div class="header-actions">
        <button class="btn btn-primary">Create Project</button>
      </div> -->
    </div>
    <!-- Filter Toolbar -->
    <project-toolbar-filter
      (searchChange)="onSearchChange($event)"
      (groupChange)="onGroupChange($event)"
      (sortChange)="onSortChange($event)"
    ></project-toolbar-filter>
    <!-- Project List -->
    <app-project-list [filterCriteria]="filterCriteria"></app-project-list>
  </div>
</div>
