<div class="card-custom">
  <div class="card-header">
    <h5>
      <a href="#">{{ projectItem.name }}</a>
      <span
        class="badge ms-2"
        [ngClass]="isAlertStatusPassed() ? 'passed-badge' : 'failed-badge'"
      >
        {{ projectItem.qualityGate| uppercase }}
      </span>
    </h5>
    <!-- Lines of Code moved to header -->
    <div class="loc" *ngIf="projectItem.lineOfCode">
      <i class="metric-icon bi bi-file-earmark-lines"></i>
      <span class="metric-value">{{ projectItem.lineOfCode }} Lines of code</span>
    </div>
  </div>

  <div class="metrics-row">
    <!-- Bugs Metric -->
    <div class="metric-item" *ngIf="projectItem.bugs">
      <div class="metric-header">
        <i class="metric-icon bi bi-bug"></i>
        <div class="metric-title">Bugs</div>
      </div>
      <div class="metric-content">
        <div
          class="metric-rating"
          [ngClass]="projectItem.reliability_rating"
        >
          {{ projectItem.reliability_rating }}
        </div>
        <div class="metric-value">{{ projectItem.bugs }}</div>
      </div>
    </div>

    <!-- Vulnerabilities Metric -->
    <div class="metric-item" *ngIf="projectItem.vulnerabilities">
      <div class="metric-header">
        <i class="metric-icon bi bi-lock"></i>
        <div class="metric-title">Vulnerabilities</div>
      </div>
      <div class="metric-content">
        <div
          class="metric-rating"
          [ngClass]="projectItem.security_rating"
        >
          {{ projectItem.security_rating }}
        </div>
        <div class="metric-value">{{ projectItem.vulnerabilities }}</div>
      </div>
    </div>

    <!-- Hotspots Reviewed Metric -->
    <div class="metric-item" *ngIf="projectItem.security_hotspots">
      <div class="metric-header">
        <i class="metric-icon bi bi-shield-shaded"></i>
        <div class="metric-title">Hotspots Reviewed</div>
      </div>
      <div class="metric-content">
        <div
          class="metric-rating"
          [ngClass]="projectItem.security_review_rating"
        >
          {{ projectItem.security_review_rating }}
        </div>
        <div class="metric-value">
          {{ projectItem.security_hotspots }}%
        </div>
      </div>
    </div>

    <!-- Code Smells Metric -->
    <div class="metric-item" *ngIf="projectItem.code_smells">
      <div class="metric-header">
        <i class="metric-icon bi bi-radioactive"></i>
        <div class="metric-title">Code Smells</div>
      </div>
      <div class="metric-content">
        <div
          class="metric-rating"
          [ngClass]="projectItem.sqale_rating"
        >
          {{ projectItem.sqale_rating }}
        </div>
        <div class="metric-value">{{ projectItem.code_smells }}</div>
      </div>
    </div>

    <!-- Coverage Metric with Adjusted Circular Graph -->
    <div class="metric-item" *ngIf="projectItem.coverage">
      <div class="metric-header">
        <i class="metric-icon bi bi-percent"></i>
        <div class="metric-title">Coverage</div>
      </div>
      <div class="metric-content">
        <div class="circular-chart tiny">
          <svg viewBox="0 0 36 36">
            <path
              class="circle-bg"
              d="
                M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831
              "
            ></path>
            <path
              class="circle"
              [attr.stroke-dasharray]="projectItem.coverage + ', 100'"
              d="
                M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831
              "
            ></path>
          </svg>
        </div>
        <div class="metric-value">{{ projectItem.coverage }}%</div>
      </div>
    </div>

    <!-- Duplication Metric with Adjusted Circular Graph -->
    <div class="metric-item" *ngIf="projectItem.duplicated_lines_density">
      <div class="metric-header">
        <i class="metric-icon bi bi-files"></i>
        <div class="metric-title">Duplication</div>
      </div>
      <div class="metric-content">
        <div class="circular-chart tiny">
          <svg viewBox="0 0 36 36">
            <path
              class="circle-bg"
              d="
                M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831
              "
            ></path>
            <path
              class="circle"
              [attr.stroke-dasharray]="projectItem.duplicated_lines_density + ', 100'"
              d="
                M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831
              "
            ></path>
          </svg>
        </div>
        <div class="metric-value">
          {{ projectItem.duplicated_lines_density }}%
        </div>
      </div>
    </div>
  </div>
</div>
