<div class="card-container" *ngFor="let processedProjectGroup of processedProjectGroupList">
  <!-- Render project group -->
  <app-project-group [projectGroup]="processedProjectGroup.projectGroup"></app-project-group>

  <!-- Loop through each project in the current project group without adding extra elements to the DOM -->
  <ng-container *ngFor="let projectItem of processedProjectGroup.projectItems">
    <app-project-item [projectItem]="projectItem"></app-project-item>
  </ng-container>
</div>
 <!-- If no projects match, show a message -->
 <div *ngIf="noProjectsFound" class="alert alert-warning">
  No projects found.
</div>
